/* line 1, scss/flexboxgrid.scss */
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 9, scss/flexboxgrid.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 14, scss/flexboxgrid.scss */
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 32, scss/flexboxgrid.scss */
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 39, scss/flexboxgrid.scss */
.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 46, scss/flexboxgrid.scss */
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 80, scss/flexboxgrid.scss */
.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

/* line 89, scss/flexboxgrid.scss */
.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

/* line 95, scss/flexboxgrid.scss */
.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

/* line 101, scss/flexboxgrid.scss */
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

/* line 107, scss/flexboxgrid.scss */
.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

/* line 113, scss/flexboxgrid.scss */
.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

/* line 119, scss/flexboxgrid.scss */
.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

/* line 125, scss/flexboxgrid.scss */
.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

/* line 131, scss/flexboxgrid.scss */
.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

/* line 137, scss/flexboxgrid.scss */
.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

/* line 143, scss/flexboxgrid.scss */
.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

/* line 149, scss/flexboxgrid.scss */
.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

/* line 155, scss/flexboxgrid.scss */
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

/* line 161, scss/flexboxgrid.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

/* line 165, scss/flexboxgrid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 169, scss/flexboxgrid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 173, scss/flexboxgrid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 177, scss/flexboxgrid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 181, scss/flexboxgrid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 185, scss/flexboxgrid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 189, scss/flexboxgrid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 193, scss/flexboxgrid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 197, scss/flexboxgrid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 201, scss/flexboxgrid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 205, scss/flexboxgrid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 209, scss/flexboxgrid.scss */
.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

/* line 216, scss/flexboxgrid.scss */
.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* line 223, scss/flexboxgrid.scss */
.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

/* line 230, scss/flexboxgrid.scss */
.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* line 236, scss/flexboxgrid.scss */
.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 242, scss/flexboxgrid.scss */
.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* line 248, scss/flexboxgrid.scss */
.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 253, scss/flexboxgrid.scss */
.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 259, scss/flexboxgrid.scss */
.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

/* line 265, scss/flexboxgrid.scss */
.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 768px) {
  /* line 272, scss/flexboxgrid.scss */
  .container {
    width: 735px;
  }

  /* line 276, scss/flexboxgrid.scss */
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 310, scss/flexboxgrid.scss */
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 319, scss/flexboxgrid.scss */
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 325, scss/flexboxgrid.scss */
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 331, scss/flexboxgrid.scss */
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 337, scss/flexboxgrid.scss */
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 343, scss/flexboxgrid.scss */
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 349, scss/flexboxgrid.scss */
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 355, scss/flexboxgrid.scss */
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 361, scss/flexboxgrid.scss */
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 367, scss/flexboxgrid.scss */
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 373, scss/flexboxgrid.scss */
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 379, scss/flexboxgrid.scss */
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 385, scss/flexboxgrid.scss */
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 391, scss/flexboxgrid.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }

  /* line 395, scss/flexboxgrid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 399, scss/flexboxgrid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 403, scss/flexboxgrid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 407, scss/flexboxgrid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 411, scss/flexboxgrid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 415, scss/flexboxgrid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 419, scss/flexboxgrid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 423, scss/flexboxgrid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 427, scss/flexboxgrid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 431, scss/flexboxgrid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 435, scss/flexboxgrid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 439, scss/flexboxgrid.scss */
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 446, scss/flexboxgrid.scss */
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 453, scss/flexboxgrid.scss */
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 460, scss/flexboxgrid.scss */
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 466, scss/flexboxgrid.scss */
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 472, scss/flexboxgrid.scss */
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 478, scss/flexboxgrid.scss */
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 483, scss/flexboxgrid.scss */
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 489, scss/flexboxgrid.scss */
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 495, scss/flexboxgrid.scss */
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  /* line 503, scss/flexboxgrid.scss */
  .container {
    width: 955px;
  }

  /* line 507, scss/flexboxgrid.scss */
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 541, scss/flexboxgrid.scss */
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 550, scss/flexboxgrid.scss */
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 556, scss/flexboxgrid.scss */
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 562, scss/flexboxgrid.scss */
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 568, scss/flexboxgrid.scss */
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 574, scss/flexboxgrid.scss */
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 580, scss/flexboxgrid.scss */
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 586, scss/flexboxgrid.scss */
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 592, scss/flexboxgrid.scss */
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 598, scss/flexboxgrid.scss */
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 604, scss/flexboxgrid.scss */
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 610, scss/flexboxgrid.scss */
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 616, scss/flexboxgrid.scss */
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 622, scss/flexboxgrid.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }

  /* line 626, scss/flexboxgrid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 630, scss/flexboxgrid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 634, scss/flexboxgrid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 638, scss/flexboxgrid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 642, scss/flexboxgrid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 646, scss/flexboxgrid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 650, scss/flexboxgrid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 654, scss/flexboxgrid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 658, scss/flexboxgrid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 662, scss/flexboxgrid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 666, scss/flexboxgrid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 670, scss/flexboxgrid.scss */
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 677, scss/flexboxgrid.scss */
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 684, scss/flexboxgrid.scss */
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 691, scss/flexboxgrid.scss */
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 697, scss/flexboxgrid.scss */
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 703, scss/flexboxgrid.scss */
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 709, scss/flexboxgrid.scss */
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 714, scss/flexboxgrid.scss */
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 720, scss/flexboxgrid.scss */
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 726, scss/flexboxgrid.scss */
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 734, scss/flexboxgrid.scss */
  .container {
    width: 1155px;
  }

  /* line 738, scss/flexboxgrid.scss */
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 772, scss/flexboxgrid.scss */
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 781, scss/flexboxgrid.scss */
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 787, scss/flexboxgrid.scss */
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 793, scss/flexboxgrid.scss */
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 799, scss/flexboxgrid.scss */
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 805, scss/flexboxgrid.scss */
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 811, scss/flexboxgrid.scss */
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 817, scss/flexboxgrid.scss */
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 823, scss/flexboxgrid.scss */
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 829, scss/flexboxgrid.scss */
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 835, scss/flexboxgrid.scss */
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 841, scss/flexboxgrid.scss */
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 847, scss/flexboxgrid.scss */
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 853, scss/flexboxgrid.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }

  /* line 857, scss/flexboxgrid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 861, scss/flexboxgrid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 865, scss/flexboxgrid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 869, scss/flexboxgrid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 873, scss/flexboxgrid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 877, scss/flexboxgrid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 881, scss/flexboxgrid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 885, scss/flexboxgrid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 889, scss/flexboxgrid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 893, scss/flexboxgrid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 897, scss/flexboxgrid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 901, scss/flexboxgrid.scss */
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 908, scss/flexboxgrid.scss */
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 915, scss/flexboxgrid.scss */
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 922, scss/flexboxgrid.scss */
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 928, scss/flexboxgrid.scss */
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 934, scss/flexboxgrid.scss */
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 940, scss/flexboxgrid.scss */
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 945, scss/flexboxgrid.scss */
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 951, scss/flexboxgrid.scss */
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 957, scss/flexboxgrid.scss */
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
