@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.etf");
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, scss/flexboxgrid.scss */
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 9, scss/flexboxgrid.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 14, scss/flexboxgrid.scss */
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 32, scss/flexboxgrid.scss */
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 39, scss/flexboxgrid.scss */
.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 46, scss/flexboxgrid.scss */
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 80, scss/flexboxgrid.scss */
.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

/* line 89, scss/flexboxgrid.scss */
.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

/* line 95, scss/flexboxgrid.scss */
.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

/* line 101, scss/flexboxgrid.scss */
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

/* line 107, scss/flexboxgrid.scss */
.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

/* line 113, scss/flexboxgrid.scss */
.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

/* line 119, scss/flexboxgrid.scss */
.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

/* line 125, scss/flexboxgrid.scss */
.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

/* line 131, scss/flexboxgrid.scss */
.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

/* line 137, scss/flexboxgrid.scss */
.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

/* line 143, scss/flexboxgrid.scss */
.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

/* line 149, scss/flexboxgrid.scss */
.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

/* line 155, scss/flexboxgrid.scss */
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

/* line 161, scss/flexboxgrid.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

/* line 165, scss/flexboxgrid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 169, scss/flexboxgrid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 173, scss/flexboxgrid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 177, scss/flexboxgrid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 181, scss/flexboxgrid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 185, scss/flexboxgrid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 189, scss/flexboxgrid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 193, scss/flexboxgrid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 197, scss/flexboxgrid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 201, scss/flexboxgrid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 205, scss/flexboxgrid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 209, scss/flexboxgrid.scss */
.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

/* line 216, scss/flexboxgrid.scss */
.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* line 223, scss/flexboxgrid.scss */
.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

/* line 230, scss/flexboxgrid.scss */
.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* line 236, scss/flexboxgrid.scss */
.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 242, scss/flexboxgrid.scss */
.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* line 248, scss/flexboxgrid.scss */
.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 253, scss/flexboxgrid.scss */
.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 259, scss/flexboxgrid.scss */
.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

/* line 265, scss/flexboxgrid.scss */
.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 768px) {
  /* line 272, scss/flexboxgrid.scss */
  .container {
    width: 735px;
  }

  /* line 276, scss/flexboxgrid.scss */
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 310, scss/flexboxgrid.scss */
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 319, scss/flexboxgrid.scss */
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 325, scss/flexboxgrid.scss */
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 331, scss/flexboxgrid.scss */
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 337, scss/flexboxgrid.scss */
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 343, scss/flexboxgrid.scss */
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 349, scss/flexboxgrid.scss */
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 355, scss/flexboxgrid.scss */
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 361, scss/flexboxgrid.scss */
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 367, scss/flexboxgrid.scss */
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 373, scss/flexboxgrid.scss */
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 379, scss/flexboxgrid.scss */
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 385, scss/flexboxgrid.scss */
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 391, scss/flexboxgrid.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }

  /* line 395, scss/flexboxgrid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 399, scss/flexboxgrid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 403, scss/flexboxgrid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 407, scss/flexboxgrid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 411, scss/flexboxgrid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 415, scss/flexboxgrid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 419, scss/flexboxgrid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 423, scss/flexboxgrid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 427, scss/flexboxgrid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 431, scss/flexboxgrid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 435, scss/flexboxgrid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 439, scss/flexboxgrid.scss */
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 446, scss/flexboxgrid.scss */
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 453, scss/flexboxgrid.scss */
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 460, scss/flexboxgrid.scss */
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 466, scss/flexboxgrid.scss */
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 472, scss/flexboxgrid.scss */
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 478, scss/flexboxgrid.scss */
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 483, scss/flexboxgrid.scss */
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 489, scss/flexboxgrid.scss */
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 495, scss/flexboxgrid.scss */
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  /* line 503, scss/flexboxgrid.scss */
  .container {
    width: 955px;
  }

  /* line 507, scss/flexboxgrid.scss */
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 541, scss/flexboxgrid.scss */
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 550, scss/flexboxgrid.scss */
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 556, scss/flexboxgrid.scss */
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 562, scss/flexboxgrid.scss */
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 568, scss/flexboxgrid.scss */
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 574, scss/flexboxgrid.scss */
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 580, scss/flexboxgrid.scss */
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 586, scss/flexboxgrid.scss */
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 592, scss/flexboxgrid.scss */
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 598, scss/flexboxgrid.scss */
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 604, scss/flexboxgrid.scss */
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 610, scss/flexboxgrid.scss */
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 616, scss/flexboxgrid.scss */
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 622, scss/flexboxgrid.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }

  /* line 626, scss/flexboxgrid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 630, scss/flexboxgrid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 634, scss/flexboxgrid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 638, scss/flexboxgrid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 642, scss/flexboxgrid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 646, scss/flexboxgrid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 650, scss/flexboxgrid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 654, scss/flexboxgrid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 658, scss/flexboxgrid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 662, scss/flexboxgrid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 666, scss/flexboxgrid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 670, scss/flexboxgrid.scss */
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 677, scss/flexboxgrid.scss */
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 684, scss/flexboxgrid.scss */
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 691, scss/flexboxgrid.scss */
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 697, scss/flexboxgrid.scss */
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 703, scss/flexboxgrid.scss */
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 709, scss/flexboxgrid.scss */
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 714, scss/flexboxgrid.scss */
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 720, scss/flexboxgrid.scss */
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 726, scss/flexboxgrid.scss */
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 734, scss/flexboxgrid.scss */
  .container {
    width: 1155px;
  }

  /* line 738, scss/flexboxgrid.scss */
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 772, scss/flexboxgrid.scss */
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 781, scss/flexboxgrid.scss */
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  /* line 787, scss/flexboxgrid.scss */
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  /* line 793, scss/flexboxgrid.scss */
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 799, scss/flexboxgrid.scss */
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  /* line 805, scss/flexboxgrid.scss */
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  /* line 811, scss/flexboxgrid.scss */
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 817, scss/flexboxgrid.scss */
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  /* line 823, scss/flexboxgrid.scss */
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  /* line 829, scss/flexboxgrid.scss */
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 835, scss/flexboxgrid.scss */
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  /* line 841, scss/flexboxgrid.scss */
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  /* line 847, scss/flexboxgrid.scss */
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 853, scss/flexboxgrid.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }

  /* line 857, scss/flexboxgrid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 861, scss/flexboxgrid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 865, scss/flexboxgrid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 869, scss/flexboxgrid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 873, scss/flexboxgrid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 877, scss/flexboxgrid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 881, scss/flexboxgrid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 885, scss/flexboxgrid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 889, scss/flexboxgrid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 893, scss/flexboxgrid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 897, scss/flexboxgrid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 901, scss/flexboxgrid.scss */
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 908, scss/flexboxgrid.scss */
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 915, scss/flexboxgrid.scss */
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 922, scss/flexboxgrid.scss */
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 928, scss/flexboxgrid.scss */
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 934, scss/flexboxgrid.scss */
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 940, scss/flexboxgrid.scss */
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 945, scss/flexboxgrid.scss */
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 951, scss/flexboxgrid.scss */
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 957, scss/flexboxgrid.scss */
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* line 15, scss/style.scss */
html {
  font-size: 16px;
}

/* line 20, scss/style.scss */
body {
  font: 1em/1.55 Helvetica, Arial, sans-serif;
  margin: 0 auto;
  min-height: 100%;
  min-width: 1024px;
  max-width: 1920px;
  width: 1920px;
  font-family: HelveticaNeue;
}

/* line 29, scss/style.scss */
.cb {
  clear: both;
}

/* line 30, scss/style.scss */
.cl {
  clear: left;
}

/* line 31, scss/style.scss */
.cr {
  clear: right;
}

/* line 32, scss/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 33, scss/style.scss */
.clearfix {
  display: inline-block;
}

/* line 34, scss/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 35, scss/style.scss */
.clearfix {
  display: block;
}

/* line 37, scss/style.scss */
.ls3 {
  letter-spacing: 3px;
}

/* line 38, scss/style.scss */
.ls5 {
  letter-spacing: 5px;
}

/* line 40, scss/style.scss */
.p90 {
  padding-left: 90px;
  padding-right: 90px;
}

/* line 45, scss/style.scss */
h2 {
  font-weight: bold;
  font-size: 82.29px;
}

/* line 50, scss/style.scss */
.container {
  width: 1520px;
}

/* line 53, scss/style.scss */
.container-small {
  width: 1260px;
  margin: 0 auto;
}

/* line 57, scss/style.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 60, scss/style.scss */
a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 66, scss/style.scss */
.fl {
  float: left;
}

/* line 67, scss/style.scss */
.fr {
  float: right;
}

/* line 69, scss/style.scss */
.pinkBtn {
  background-color: #e22250;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 76, scss/style.scss */
.pinkBtn:hover {
  color: #fff;
}

/* line 80, scss/style.scss */
.greyBtn {
  background-color: #cdcdcd;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 86, scss/style.scss */
.greyBtn:hover {
  color: #fff;
}

/* line 91, scss/style.scss */
section.header {
  background-image: url("../img/homepage_bg.jpg");
  background-size: 100% !important;
  background-repeat: no-repeat;
  height: 1043px;
  color: #fff;
  text-transform: uppercase;
}
/* line 98, scss/style.scss */
section.header .logo {
  width: 374px;
  height: 140px;
}
/* line 102, scss/style.scss */
section.header .headMenu {
  height: 193px;
}
/* line 104, scss/style.scss */
section.header .headMenu .menu {
  padding-top: 80px;
  padding-right: 82px;
}
/* line 107, scss/style.scss */
section.header .headMenu .menu a {
  color: #fff;
  padding: 2px 46px;
  font-size: 18pt;
  font-weight: bold;
}
/* line 115, scss/style.scss */
section.header .greyBG {
  background-color: rgba(68, 68, 68, 0.75);
  border-radius: 10px;
}
/* line 119, scss/style.scss */
section.header .slogan {
  margin-left: 136px;
  margin-top: 638px;
  height: 108px;
  width: 660px;
  font-size: 52pt;
  font-weight: bold;
  padding: 0 40px;
}
/* line 128, scss/style.scss */
section.header .regForm {
  width: 486px;
  height: 538px;
  margin-top: 88px;
  margin-right: 170px;
  padding: 50px 35px;
}
/* line 134, scss/style.scss */
section.header .regForm input {
  width: 100%;
  height: 70px;
  line-height: 71px;
  padding: 25px 20px;
  border-radius: 10px;
  color: #000;
  margin-bottom: 25px;
  font-size: 24pt;
}
/* line 144, scss/style.scss */
section.header .regForm .request {
  font-size: 20pt;
  font-weight: bold;
}
/* line 147, scss/style.scss */
section.header .regForm .request button {
  width: 100%;
  height: 62px;
  letter-spacing: 2px;
  font-size: 19pt;
}
/* line 153, scss/style.scss */
section.header .regForm .request .checkConsultation {
  background-image: url("../img/checkmark.png");
  background-repeat: no-repeat;
  padding-left: 70px;
  margin-left: 45px;
  margin-top: 17px;
}

/* line 165, scss/style.scss */
section.paragraph {
  background-color: #fbf0da;
  padding-bottom: 30px;
}
/* line 168, scss/style.scss */
section.paragraph .paragraph-container {
  padding: 74px 28px 60px 28px;
  height: 566px;
}
/* line 171, scss/style.scss */
section.paragraph .paragraph-container img {
  width: 388px;
  height: 388px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #e22250;
  margin-top: 80px;
}
/* line 179, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description {
  width: 966px;
  text-align: center;
  font-size: 19pt;
  color: #333;
}
/* line 184, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34.29pt;
  margin: 0 0 44px;
}
/* line 190, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description p {
  margin: 0 0 44px;
}
/* line 193, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description .desc {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16pt;
}
/* line 198, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description .light {
  font-family: HelveticaNeueLight;
}
/* line 202, scss/style.scss */
section.paragraph .paragraph-container .paragraph-description .request a {
  font-size: 21pt;
  padding: 15px 45px;
  letter-spacing: 2px;
}

/* line 211, scss/style.scss */
section.features {
  background-image: url("../img/features_bg.jpg");
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 661px;
  padding-top: 100px;
}
/* line 218, scss/style.scss */
section.features h3 {
  font-weight: bold;
  font-size: 50px;
}
/* line 222, scss/style.scss */
section.features p {
  font-size: 16pt;
}
/* line 225, scss/style.scss */
section.features .choose {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 110px;
  margin-top: 28px;
}
/* line 231, scss/style.scss */
section.features .connection {
  background-image: url("../img/connection.png");
}
/* line 234, scss/style.scss */
section.features .relations {
  background-image: url("../img/relations.png");
}
/* line 237, scss/style.scss */
section.features .love {
  background-image: url("../img/love.png");
}

/* line 241, scss/style.scss */
section.requestConsult {
  line-height: 129px;
  background-color: #f5f0eb;
  text-align: center;
}
/* line 245, scss/style.scss */
section.requestConsult p {
  font-weight: bold;
  color: #333;
  font-size: 27.43pt;
  margin-bottom: 0;
}
/* line 250, scss/style.scss */
section.requestConsult p a {
  font-size: 13.71pt;
  padding: 15px 50px;
  margin-left: 114px;
}

/* line 257, scss/style.scss */
section.clients {
  min-height: 720px;
  background-image: url("../img/clients_bg.jpg");
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  padding-top: 52px;
}
/* line 263, scss/style.scss */
section.clients h2 {
  color: #fff;
}
/* line 266, scss/style.scss */
section.clients .client {
  margin-top: 50px;
}
/* line 268, scss/style.scss */
section.clients .client .client-review {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  padding: 32px;
}
/* line 274, scss/style.scss */
section.clients .client .client-review:after {
  content: '';
  position: absolute;
  left: calc(50% - 20px);
  bottom: -39px;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
}
/* line 282, scss/style.scss */
section.clients .client .client-review .blockquote {
  font-size: 18pt;
}
/* line 284, scss/style.scss */
section.clients .client .client-review .blockquote:before {
  color: #e22250;
  content: "\201C";
  font-size: 26pt;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.15em;
}
/* line 292, scss/style.scss */
section.clients .client .client-review .blockquote:after {
  color: #e22250;
  content: "\201D";
  font-size: 26pt;
  line-height: 0.1em;
  vertical-align: -0.15em;
}
/* line 300, scss/style.scss */
section.clients .client .client-review .by-line {
  font-size: 16pt;
  font-weight: bold;
}
/* line 303, scss/style.scss */
section.clients .client .client-review .by-line:before {
  content: "\2013";
  font-size: 18pt;
  font-weight: bold;
  line-height: 0.1em;
  margin-right: 0.2em;
}
/* line 312, scss/style.scss */
section.clients .client img {
  width: 138px;
  height: 138px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #eeb640;
  margin: 24px calc(50% - 69px);
}

/* line 323, scss/style.scss */
footer {
  background-color: #fbf0da;
}
/* line 325, scss/style.scss */
footer .logo {
  width: 374px;
  height: 140px;
}
/* line 329, scss/style.scss */
footer .footer {
  padding: 0 75px;
  font-size: 12pt;
  font-weight: bold;
}
/* line 333, scss/style.scss */
footer .footer ul {
  padding: 0 20px;
  list-style: none;
  text-transform: uppercase;
}
/* line 337, scss/style.scss */
footer .footer ul li {
  line-height: 38px;
}
/* line 340, scss/style.scss */
footer .footer ul a {
  color: #e22250;
}
/* line 343, scss/style.scss */
footer img {
  margin-top: 14px;
}
/* line 346, scss/style.scss */
footer .slog {
  text-transform: uppercase;
  font-size: 14pt;
  font-weight: bold;
  margin: 48px 0 14px;
}
/* line 352, scss/style.scss */
footer .bottomtext {
  font-size: 16pt;
  color: #666;
  margin: 30px 0 40px;
}

/* line 361, scss/style.scss */
.bg {
  background-color: #ddd;
  padding-top: 34px;
}

/* line 365, scss/style.scss */
header {
  height: 70px;
  background-color: #e22250;
  color: #fff;
}
/* line 369, scss/style.scss */
header .logo {
  height: 70px;
}
/* line 373, scss/style.scss */
header .navigation {
  text-transform: uppercase;
  line-height: 70px;
  font-size: 14pt;
}
/* line 377, scss/style.scss */
header .navigation ul {
  list-style: none;
  padding-left: 0;
}
/* line 380, scss/style.scss */
header .navigation ul li {
  display: inline-block;
  padding: 0 25px;
}
/* line 383, scss/style.scss */
header .navigation ul li a {
  color: #fff;
}
/* line 389, scss/style.scss */
header .notification {
  padding: 0;
}
/* line 391, scss/style.scss */
header .notification > ul {
  list-style: none;
  padding-left: 0;
}
/* line 394, scss/style.scss */
header .notification > ul li {
  display: inline-block;
}
/* line 396, scss/style.scss */
header .notification > ul li a {
  color: #fff;
  font-family: HelveticaNeueLight;
  font-size: 18pt;
  line-height: 70px;
  padding: 22px 15px;
  /*.smile{
      background-image: url("../img/icon.svg");
      background-size: 30px 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
  }*/
}
/* line 402, scss/style.scss */
header .notification > ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 415, scss/style.scss */
header .notification .notification-box {
  height: auto;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  cursor: pointer;
  background: #fff;
  width: 99%;
}
/* line 424, scss/style.scss */
header .notification .notification-box ul {
  list-style: none;
  padding: 2px 1px;
  margin-bottom: 0px;
}
/* line 428, scss/style.scss */
header .notification .notification-box ul li {
  height: 93px;
  cursor: auto;
}
/* line 431, scss/style.scss */
header .notification .notification-box ul li .notification-image {
  width: 92px;
  height: 92px;
}
/* line 434, scss/style.scss */
header .notification .notification-box ul li .notification-image img {
  width: 92px;
  height: 92px;
  object-fit: cover;
  overflow: hidden;
}
/* line 441, scss/style.scss */
header .notification .notification-box ul li .notification-info {
  margin-left: 100px;
}
/* line 443, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-name {
  margin: 0;
}
/* line 445, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-name a {
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 16pt;
  color: #20242a;
}
/* line 452, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-age {
  color: #333;
  font-size: 12pt;
  margin: 0;
}
/* line 457, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-act {
  line-height: 22px;
}
/* line 459, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-act .reject {
  font-family: Segoe UI;
  font-weight: 200;
  font-size: 16pt;
  color: #20242a;
  margin-left: 14px;
}
/* line 466, scss/style.scss */
header .notification .notification-box ul li .notification-info .notification-act .pinkBtn {
  font-size: 11pt;
  padding: 4px 30px;
}
/* line 476, scss/style.scss */
header .profile {
  padding: 0;
}
/* line 479, scss/style.scss */
header .profile:hover > a {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 483, scss/style.scss */
header .profile > a {
  height: 70px;
  display: block;
}
/* line 487, scss/style.scss */
header .profile .profile-name {
  font-size: 17pt;
  line-height: 18px;
  display: inline-block;
  height: 70px;
  padding: 14px 35px;
  text-align: right;
}
/* line 494, scss/style.scss */
header .profile .profile-name .profile-title {
  font-family: HelveticaNeueLight;
}
/* line 497, scss/style.scss */
header .profile .profile-name .profile-fio {
  font-weight: bold;
}
/* line 501, scss/style.scss */
header .profile .profile-image {
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: inline-block;
}
/* line 506, scss/style.scss */
header .profile .profile-image img {
  height: 70px;
  max-width: 70px;
  object-fit: cover;
}
/* line 512, scss/style.scss */
header .profile .profile-box {
  height: auto;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  cursor: pointer;
  background: #fff;
  width: 100%;
}
/* line 521, scss/style.scss */
header .profile .profile-box ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
/* line 525, scss/style.scss */
header .profile .profile-box ul li {
  height: 50px;
  line-height: 50px;
}
/* line 528, scss/style.scss */
header .profile .profile-box ul li a {
  color: #20242a;
  font-size: 18pt;
  font-family: Segoe UI;
  padding-left: 20px;
}
/* line 534, scss/style.scss */
header .profile .profile-box ul li:hover {
  background-color: rgba(226, 34, 80, 0.2);
}

/* line 543, scss/style.scss */
.content {
  width: 1000px;
}

/* line 546, scss/style.scss */
.sidebar {
  width: 248px;
}

/* line 551, scss/style.scss */
.menu-profile a {
  border-radius: 0px;
  width: 100%;
  display: block;
  margin-top: 16px;
  height: 36px;
  line-height: 36px;
  text-transform: inherit;
  font-size: 16pt;
  font-weight: normal;
  padding-left: 16px;
  text-align: center;
}
/* line 563, scss/style.scss */
.menu-profile a i {
  float: left;
  margin-top: 7px;
  font-size: 18pt;
}

/* line 571, scss/style.scss */
.person-profile .info-profile {
  background-color: #fff;
  padding: 10px 12px;
}
/* line 574, scss/style.scss */
.person-profile .info-profile img {
  width: 100%;
}
