$main: #e22250;
$orange: #f7941d;
$black: #20242a;
$content-bg: rgba(255, 255, 255, 0.85);

.segoe-light{
    color: $black;
    font-size: 18pt;
    font-family: Segoe UI;
    font-weight: 200;
}

html {font-size: 16px;}
body {
    font: 1em/1.55 Helvetica, Arial, sans-serif;
    margin: 0 auto;
    min-height: 100%;
    min-width: 1024px;
    max-width: 1920px;
    width: 1920px;
    font-family: HelveticaNeue;
}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.fl{float: left;}
.fr{float: right;}
.ls3{letter-spacing: 3px;}
.ls5{letter-spacing: 5px;}
.p90{padding-left: 90px;padding-right: 90px;}
h2{
    font-weight: bold;
    font-size: 82.29px;
} 
.container{
    width: 1520px;
}
.container-small{
    width: 1260px;
    margin: 0 auto;
    position: relative;
}
.transparent-bg{
    background-color: $content-bg;
}
a {
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
    }
}
ul{
    list-style: none;
    padding-left: 0;
}
.title{
    font-weight: bold;
    font-size: 24pt;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}
hr{
    border-color: #999898;
    margin-top: 10px;
    margin-bottom: 15px;
}
.bg{
    background-image: url("../img/bg.jpg");
    //background-size: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 34px;
    padding-bottom: 45px;
}
.content{
    width: 1000px;
    margin-left: 265px;
    min-height: 850px;
}

.sidebar{
    width: 248px;
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar-bigger{
    width: 286px;
}
.pinkBtn{
    background-color: $main;  
    border-radius: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;    
    &:hover{
        color: #fff;
        background-color: rgba(226, 34, 80, 0.3);
    }
}
.greyBtn{
    background-color: #cdcdcd;  
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;    
    &:hover{
        color: #fff;
    }
}

/*----------- checkbox and radio ------*/
.checkbox label, .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    padding-left: 25px;
    font-size: 14pt;
    text-transform: uppercase;
}
input[type=radio], input[type=checkbox] {
    display: none;
    &:checked+label{
        font-weight: bold;
    }
}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 6px;
    border: 2px solid $main;
    background-color: #fff;
}
.radio label:before{
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    background-color: $main;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 20px;
    color: $main;
    text-align: center;
    line-height: 8px;
}

/*---------- participants --------------*/
ul.participants{
    line-height: 0;
    text-align: justify;
    &:after {
        content: ' i i i i i i i i ';
        word-spacing: 178px;
        padding-left: 178px;
        visibility: hidden;
    }
    li{
        position: relative;
        display : inline-block;
        width : 234px;
        margin: 0 0 15px;
        vertical-align: top;
        text-align: center;
        line-height: normal;
        padding: 10px;
        img{
            object-fit: cover;
            width: 214px;
            height: 214px;
        }
        p{
            @extend .segoe-light;
            margin-bottom: 0;
            &.name{
                font-size: 24pt;
                color: $black;
            }
            &.info{
                font-size: 18pt;
                color: #626367;
            }
        }
        i.star{
            position: absolute;
            top: 17px;
            right: 15px;
            width: 30px;
            height: 28px;
            background-repeat: no-repeat;
            &.star-on{
                background-image: url('../img/star.png')
            }
            &.star-off{
                background-image: url('../img/star-o.png')
            }
        }
        .notification-act{
            .pinkBtn{
                font-size: 12pt;
                height: 32px;
                line-height: 32px;
                width: 144px;    
                margin-top: 15px;
                letter-spacing: 3px;
            }
            .reject{
                @extend .segoe-light;
                font-size: 24pt;
                margin-bottom: 15px;
            }
        }
    }
    .opacity{
        -webkit-transition: all 300ms ease;
           -moz-transition: all 300ms ease;
             -o-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
                transition: all 300ms ease;

        &.opacity-image{
            position: relative;
            .view{
                position: absolute;
                background-color: rgba(226, 34, 80, 0.5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                font-family: Segoe UI;
                font-size: 20pt;
                font-weight: bold;
                text-transform: capitalize;
                line-height: 214px;
                opacity: 0;
            }
        }
        &:hover{
            background-color: #fff;
            .view{
                opacity: 1;
            }
        }
    }
}

/*-------- modal ---------*/
.modal{
    .modal-dialog{
        width: 582px;
        margin: 120px auto 70px;
        &.modal-large{
            width: 1000px;
        }
    }
    .modal-content{
        padding: 5px 30px;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.95);
        .modal-header{
            padding: 0;
            border-bottom-color: #999898;
           .close {
                font-size: 35px;
                margin-top: -6px;
                margin-right: -23px;
            } 
            .title-segoe{
                text-transform: none;
                margin-bottom: 25px;
            }
        }
        .modal-body{
            textarea{
                border-color: #eee;
                border-radius: 10px;
                resize: none;
                height: 130px;
                font-size: 14pt;
            }
        }
        .modal-footer {
            text-align: center;
            border-top: none;
            p{
                cursor: pointer;
                margin-top: 15px;
            }
        }
        .pinkBtn{
            padding: 8px 52px;
            font-size: 14pt;
            letter-spacing: 3px;
        }
        p{
            font-weight: lighter;
            font-size: 14pt;
        }
    }
    .title-segoe {
        font-size: 32pt;
    }
}



/*------------- star rating -----------*/
.star-rating{
    font-size: 0;
    margin-bottom: 10px;
    .star-rating_wrap{
        display: inline-block;
        font-size: 1rem;
        &:after{
        content: "";
        display: table;
        clear: both;
        }
        .star-rating_ico{
            float: right;
            padding-left: 2px;
            cursor: pointer;
            color: $orange;
            font-size: 2em;
            &:last-child{
                padding-left: 0;
            }
        }
        .star-rating_input{
            display: none;
        }
        .star-rating_ico:hover:before,
        .star-rating_ico:hover ~ .star-rating_ico:before,
        .star-rating_input:checked ~ .star-rating_ico:before
        {
            content: "\f005";
        }
    }
}